body
{
background-image: url("lemon.jpg");
font-family: monospace, verdana, "times new roman";
}

#container
{
width: 1000px;
margin-left: auto;
margin-right: auto;
}

#header
{
width: 1000px;
height: 200px;
}


#navigation
{
width: 1000px;
height: 30px;
background-color: #006699;
}

#navigation a:link, #navigation a:active, #navigation a:visited {
display: block;
height: 20px;
line-height: 20px;
float: left;
background-color: #006699;
color: #ffffff;
padding: 5px;
margin-right: 15px;
}

#navigation a:hover
{
background-color: #ffffff;
color: #006699;
}

#contentleft
{
width: 670px;
height:500px;
float: left;
background: linear-gradient(to right, lime , white, yellow);
color: black;
padding: 15px;
font-family: Dephunked BRK, serif;
}

#contentright
{
background: linear-gradient(to right, yellow , white, lime);
width: 280px;
height:500px;
float: right;
padding: 10px;
color:black;
font-family: Sniglet, serif;
}

#footer
{
padding: 10px;
width: 980px;
background-color: #000000;
color: #ffffff;
}


.clear
{
clear: both;
}



.shopmatrix
{
width: 980px;
color: #ffffff;
padding: 10px;
margin: 0px;

background-color: #009999;
}

.product
{
width: 200px;
padding: 5px;
float: left;
}

.product img
{
width: 200px;
}
